Repository UncompiledCodes/GRB, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, doc, source

:count and ref
  docs/photometric_sdss/Vugt,_J.J.L._van_1.pdf
  src/photometric_sdss/data/count.py
Labels: doc, source

:count
  src/photometric_sdss/data/count.py
Labels: source

:out_csv
  src/photometric_sdss/data/count.py
Labels: source

:outtput under 2
  src/photometric_sdss/Contourmap_under2.png
  src/photometric_sdss/Gal_distr_under2.png
  src/photometric_sdss/barplot.py
  src/photometric_sdss/contourmap.py
  src/photometric_sdss/data/count.py
  src/photometric_sdss/dtree/Tree_Result_under2.png
  src/photometric_sdss/dtree/Under 2 performance.txt
  src/photometric_sdss/dtree/dtree.py
  src/photometric_sdss/dtree/evaluate_dtree.py
  src/photometric_sdss/dtree/max_depth_dt_under2.png
Labels: source

:revise output
  src/photometric_sdss/barplot.py
  src/photometric_sdss/contourmap.py
  src/photometric_sdss/data/count.py
  src/photometric_sdss/dtree/Tree_Result_under2.png
  src/photometric_sdss/dtree/Under 2 performance.txt
  src/photometric_sdss/dtree/evaluate_dtree.py
  src/photometric_sdss/dtree/max_depth_dt_under2.png
Labels: source

save data to csv
  src/photometric_sdss/dtree/dtree.py
Labels: source

save data to csv
  src/photometric_sdss/dtree/dtree.py
Labels: source

:znorm
  src/photometric_sdss/dtree/dtree.py
  src/photometric_sdss/dtree/targets_test.csv
  src/photometric_sdss/dtree/targets_test.txt
  src/photometric_sdss/dtree/y_pred.csv
  src/photometric_sdss/dtree/y_pred.txt
  src/photometric_sdss/rforest/targets_test
  src/photometric_sdss/rforest/y_pred
  src/photometric_sdss/rforest/znorm.py
  src/photometric_sdss/rforest/znormdata.xlsx
Labels: source

update git ignore
  .gitignore
Labels: repo

:delt z
  src/photometric_sdss/barplot.py
  src/photometric_sdss/data/znormdata.csv
  src/photometric_sdss/deltaz_under2_dtree.png
  src/photometric_sdss/rforest/znorm.py
  src/photometric_sdss/rforest/znormdata.xlsx
Labels: source

:rforset
  src/photometric_sdss/rforest/rforest.py
  src/photometric_sdss/rforest/znormdata.csv
Labels: source

:newplot
  src/photometric_sdss/dtree/dtree.py
  src/photometric_sdss/dtree/targets_test.csv
  src/photometric_sdss/dtree/total performance.txt
  src/photometric_sdss/dtree/y_pred.csv
  src/photometric_sdss/newplot/deltaz_dtree_total.csv
  src/photometric_sdss/newplot/deltaz_dtree_under2.csv
  src/photometric_sdss/newplot/specz_dtree_total.csv
  src/photometric_sdss/newplot/specz_dtree_under2.csv
Labels: source

:rforestplots
  src/photometric_sdss/newplot/deltaz_rforest_total.csv
  src/photometric_sdss/newplot/deltaz_rforest_under2.csv
  src/photometric_sdss/newplot/specz_rforest_total.csv
  src/photometric_sdss/newplot/specz_rforest_under2.csv
  src/photometric_sdss/rforest/Forest_Result_total.png
  src/photometric_sdss/rforest/Forest_Result_under2.png
  src/photometric_sdss/rforest/Under2_performance_rforest.txt
  src/photometric_sdss/rforest/random_forest_for_sdss.py
  src/photometric_sdss/rforest/rforest.py
  src/photometric_sdss/rforest/total_performance_rforest.txt
Labels: source

:rforestunder2
  src/photometric_sdss/rforest/Forest_Result_under2.png
  src/photometric_sdss/rforest/rforest.py
Labels: source

:deltaz
  src/photometric_sdss/barplot.py
  src/photometric_sdss/deltaz_under2_dtree.png
  src/photometric_sdss/dtree/dtree.py
  src/photometric_sdss/output/newresults/Contourmap_under2.png
  src/photometric_sdss/output/newresults/Forest_Result_total.png
  src/photometric_sdss/output/newresults/Gal_distr_under2.png
  src/photometric_sdss/output/newresults/Tree_Result_total.png
  src/photometric_sdss/output/newresults/Tree_Result_under2.png
  src/photometric_sdss/output/newresults/Under 2 performance.txt
  src/photometric_sdss/output/newresults/Under2_performance_rforest.txt
  src/photometric_sdss/output/newresults/deltaz_dtree_total.png
  src/photometric_sdss/output/newresults/deltaz_dtree_under2.png
  src/photometric_sdss/output/newresults/deltaz_rforest_total.png
  src/photometric_sdss/output/newresults/deltaz_rforest_under2.png
  src/photometric_sdss/output/newresults/max_depth_dt_under2.png
  src/photometric_sdss/output/newresults/total performance.txt
  src/photometric_sdss/output/newresults/total_performance_rforest.txt
Labels: source

:results
  src/photometric_sdss/output/newresults/Forest_Result_under2.png
  src/photometric_sdss/output/newresults/Under 2_performance_dtree.txt
  src/photometric_sdss/output/newresults/total_performance_dtree.txt
Labels: source

sd
  src/photometric_sdss/contourmap.py
  src/photometric_sdss/newplot/standard deviation.py
  src/photometric_sdss/output/newresults/Contourmap_under2.png
  src/photometric_sdss/output/newresults/DT.png
  src/photometric_sdss/output/newresults/RF.png
  src/photometric_sdss/output/newresults/Under 2_performance_dtree.txt
  src/photometric_sdss/output/newresults/Under2_performance_rforest.txt
  src/photometric_sdss/output/newresults/total_performance_dtree.txt
  src/photometric_sdss/output/newresults/total_performance_rforest.txt
Labels: source

table 1
  table_1.csv
Labels: repo

pdf2csv
  utils/pdf2csv/pdf2csv.py
Labels: none

Update requirements.txt
  requirements.txt
Labels: repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

doc:
- docs/**/*

source:
- 'src/**/*'
