Repository UncompiledCodes/GRB, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, doc, source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

doc:
- docs/**/*

source:
- 'src/**/*'

create: barplot
  src/photometric_sdss/barplot.py
  src/photometric_sdss/plot/Gal_QSO distribution.png
Labels: source

chore: add test.ipynb
  .gitignore
Labels: repo

build: create train-val plot
  src/photometric_sdss/train-val-RF.py
Labels: source

fix:presentation revision
  docs/presentation/mg16/img/Gal_distr.png
  docs/presentation/mg16/img/Litsurvey.png
  docs/presentation/mg16/present.tex
  src/photometric_sdss/RandomForestForSDSS.py
  src/photometric_sdss/barplot.py
  src/photometric_sdss/plot/Gal_QSO distribution.png
  src/photometric_sdss/plot/Gal_distr.png
Labels: doc, source

build: max depth
  docs/presentation/mg16/img/max_depth_dt.png
  src/photometric_sdss/DT max depth.py
Labels: doc, source

docs: add image source
  docs/presentation/mg16/__latexindent_temp.tex
  docs/presentation/mg16/present.tex
Labels: doc

docs: add image source
  docs/presentation/mg16/__latexindent_temp.tex
  docs/presentation/mg16/present.tex
Labels: doc

fix:colorbar scale
  src/photometric_sdss/DecisionTree.py
  src/photometric_sdss/plot/Tree_Result.png
Labels: source

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

chore: create code of conduct
  CODE_OF_CONDUCT.md
Labels: repo

fix: grid
  src/photometric_sdss/RandomForestForSDSS.py
Labels: source

fix: reference revision
  docs/presentation/mg16/present.tex
Labels: doc

fix: close to final edition
  docs/presentation/mg16/img/Contourmap.png
  docs/presentation/mg16/img/SDSS_telescope.jpg
  docs/presentation/mg16/img/redshiftug.png
  docs/presentation/mg16/present.tex
  src/photometric_sdss/Contourmap.py
  src/photometric_sdss/plot/Contourmap.png
Labels: doc, source

fix:near to final edition
  docs/presentation/mg16/img/Gal_distr.png
  docs/presentation/mg16/img/redshift-blueshift.png
  docs/presentation/mg16/present.tex
  docs/presentation/mg16/presentation material.docx
  src/photometric_sdss/barplot.py
  src/photometric_sdss/plot/Gal_distr.png
Labels: doc, source

fix: order
  docs/presentation/mg16/present.tex
Labels: doc

docs: add refrence slide template
  docs/presentation/mg16/present.tex
Labels: doc

build: add n=600 data
  src/photometric_sdss/data/n=600/max_depth.txt
  src/photometric_sdss/data/n=600/median_test.txt
  src/photometric_sdss/data/n=600/median_train.txt
  src/photometric_sdss/data/n=600/targers_test.txt
  src/photometric_sdss/data/n=600/train-val-by-depth.png
  src/photometric_sdss/data/n=600/y_pred_test/n=600 m=10.txt
  src/photometric_sdss/data/n=600/y_pred_test/n=600 m=12.txt
  src/photometric_sdss/data/n=600/y_pred_test/n=600 m=14.txt
  src/photometric_sdss/data/n=600/y_pred_test/n=600 m=15.txt
  src/photometric_sdss/data/n=600/y_pred_test/n=600 m=16.txt
  src/photometric_sdss/data/n=600/y_pred_test/n=600 m=19.txt
  src/photometric_sdss/data/n=600/y_pred_test/n=600 m=22.txt
  src/photometric_sdss/data/n=600/y_pred_test/n=600 m=25.txt
Labels: source

fix: ref
  docs/presentation/mg16/present.tex
Labels: doc

build: znorm
  src/photometric_sdss/data/n=600/n=600 m=25.csv
  src/photometric_sdss/data/n=600/targers_test.csv
  src/photometric_sdss/znorm.py
Labels: source

build: train-val slide
  docs/presentation/mg16/__latexindent_temp.tex
  docs/presentation/mg16/img/train-val-by-depth.png
  docs/presentation/mg16/present.tex
Labels: doc

fix:label
  docs/presentation/mg16/present.tex
  src/photometric_sdss/DecisionTree.py
Labels: doc, source

refactor: refactor code of conduct
  CODE_OF_CONDUCT.md
Labels: repo

build: add m=25 data
  src/photometric_sdss/data/m=25/median_test.txt
  src/photometric_sdss/data/m=25/median_train.txt
  src/photometric_sdss/data/m=25/n_estimator.txt
  src/photometric_sdss/data/m=25/targets_test.txt
  src/photometric_sdss/data/m=25/targets_train.txt
  src/photometric_sdss/data/m=25/y_pred_test/n=10 m=25.txt
  src/photometric_sdss/data/m=25/y_pred_test/n=100 m=25.txt
  src/photometric_sdss/data/m=25/y_pred_test/n=300 m=25.txt
  src/photometric_sdss/data/m=25/y_pred_test/n=500 m=25.txt
  src/photometric_sdss/data/m=25/y_pred_test/n=600 m=25.txt
  src/photometric_sdss/data/m=25/y_pred_test/n=70 m=25.txt
  src/photometric_sdss/data/m=25/y_pred_test/n=700 m=25.txt
  src/photometric_sdss/data/m=25/y_pred_train/n=10 m=25.txt
Labels: source

fix: MG16
  docs/presentation/mg16/present.tex
Labels: doc

fix: med
  docs/presentation/mg16/present.tex
Labels: doc

fix: final revision
  docs/presentation/mg16/img/table.png
  docs/presentation/mg16/img/table2.png
  docs/presentation/mg16/present.tex
Labels: doc

fix: final touches on presentation
  docs/presentation/mg16/__latexindent_temp.tex
  docs/presentation/mg16/present.tex
Labels: doc

chore: add .idea
  .gitignore
Labels: repo

create:znorm barplot
  src/photometric_sdss/data/n=600/photo.xlsx
  src/photometric_sdss/data/n=600/spec.xlsx
  src/photometric_sdss/deltaznorm.png
  src/photometric_sdss/znorm.py
  src/photometric_sdss/znorm.xlsx
Labels: source

add: ref
  docs/photometric_sdss/1908.07046.pdf
Labels: doc

add:ref
  src/photometric_sdss/deltaznorm.png
  src/photometric_sdss/deltaznorm2.png
  src/photometric_sdss/znorm.py
  src/photometric_sdss/znorm.xlsx
  src/photometric_sdss/znormdata.xlsx
Labels: source

fix:dpi
  src/photometric_sdss/DT max depth.py
Labels: source

Update requirements.txt
  requirements.txt
Labels: repo

fix: module calling
  src/photometric_sdss/DT max depth.py
  src/photometric_sdss/barplot.py
  src/photometric_sdss/contourmap.py
  src/photometric_sdss/data/znorm.xlsx
  src/photometric_sdss/data/znormdata.xlsx
  src/photometric_sdss/deltaZ.py
  src/photometric_sdss/dtree/__init__.py
  src/photometric_sdss/dtree/dtree.py
  src/photometric_sdss/dtree/evaluate_dtree.py
  src/photometric_sdss/output/plot/Contourmap.png
  src/photometric_sdss/output/plot/Forest_Result.png
  src/photometric_sdss/output/plot/Gal_distr.png
  src/photometric_sdss/output/plot/RF-Result.png
  src/photometric_sdss/output/plot/Tree_Result.png
  src/photometric_sdss/output/plot/deltaZ.png
  src/photometric_sdss/output/plot/deltaznorm.png
  src/photometric_sdss/output/plot/deltaznorm2.png
  src/photometric_sdss/output/plot/train-val.png
  src/photometric_sdss/rforest/__init__.py
  src/photometric_sdss/rforest/random_forest_for_sdss.py
  src/photometric_sdss/rforest/rforest.py
  src/photometric_sdss/rforest/train-val-RF.py
  src/photometric_sdss/rforest/znorm.py
Labels: source

fix: module calling
  src/__init__.py
  utils/__init__.py
  utils/fetch_data/fetch_data_sdss.py
  utils/fetch_data/fetch_data_swift.py
  utils/npy2csv/__init__.py
  utils/npy2csv/npy2csv.py
  utils/txt2csv/README.md
  utils/txt2csv/__init__.py
  utils/txt2csv/txt2csv.py
Labels: source

feat: create dtree graph
  src/photometric_sdss/dtree/dtree_graph.py
  src/photometric_sdss/output/plot/decistion_tree_viz.png
Labels: source

fix: remove viz codes
  src/photometric_sdss/dtree/dtree_graph.py
Labels: source

add 1000000 data
  utils/fetch_data/data\sdss\sdss_galaxy_1000000.npy
  utils/fetch_data/fetch_data_sdss.py
Labels: none

add 1000000 data
  utils/fetch_data/sdss_galaxy_1000000.npy
Labels: none

some changes
  docs/photometric_sdss/Sample MG-16.pdf
  src/photometric_sdss/contourmap.py
  src/photometric_sdss/output/plot/Contourmap.png
Labels: doc, source
